<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="header-oscar">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `header-oscar`
     * header separado de login para ejercicio
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HeaderOscar extends Polymer.Element {
      static get is() { return 'header-oscar'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'header-oscar'
          }
        };
      }
    }

    window.customElements.define(HeaderOscar.is, HeaderOscar);
  </script>
</dom-module>
