<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../iron-icon/iron-icon.html">

<dom-module id="header-oscar">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>



  <paper-toolbar>
    <paper-icon-button slot="top" src="../images/hamburguesa.png"></paper-icon-button>
    <span slot="top" class="title">LoginOscar</span>

    <paper-icon-button slot="top" src="../images/return.png" on-click="logout"></paper-icon-button>

  </paper-toolbar>




  </template>

  <script>
    /**
     * `header-oscar`
     * header separado de login para ejercicio
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HeaderOscar extends Polymer.Element {
      static get is() { return 'header-oscar'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'header-oscar'
          },
          salir:{
            type:Boolean,
            value:false,
            notify:true
          }
        };
      }
      logout(){
        this.set('salir', true);
      }
    }

    window.customElements.define(HeaderOscar.is, HeaderOscar);
  </script>
</dom-module>
